/**
common
@author ysm

-
반응형 분기점 참고
http://screensiz.es/tablet
http://tobyyun.tumblr.com/post/114586252277/%EB%B0%98%EC%9D%91%ED%98%95%EC%9B%B9%EB%94%94%EC%9E%90%EC%9D%B8%EC%9D%98-%ED%95%B4%EC%83%81%EB%8F%84%EB%B6%84%EA%B8%B0%EC%A0%90%EC%9D%80-%EC%96%B4%EB%96%BB%EA%B2%8C-%EB%82%98%EB%88%8C%EA%B9%8C

모바일: ~320, ~767
테블릿: 768~1023
PC: 1024~, 1080~

-
명명

.button-thin
.button-normal
.button-strong
.button-active

.input-checkbox
.input-text

.layer-wrap    레이어

.layer-bubble    말풍선
.layer-bubble-triangle    레이어 등에 사용되는 삼각형 말풍선
.layer-bubble-triangle-top


#종류(예: #list, #view, ...) > .group | .bundle > .wrap > .box > .content

-
폰트:
대부분의 브라우저는 폰트 사이즈의 기본값이 12pt, 16px, 1em, 100% 입니다.


투명도: 
.96 또는 .86 사용
rgba(0, 0, 0, .3);    입력상자 힌트


브랜드컬러:
rgb(231, 68, 78);    (다음웹툰 e83d3d 참고)
rgb(119, 195, 0);
rgb(126, 214, 26);
rgb(135, 226, 28);


배경색:
rgb(120, 121, 122);			 disabled
rgba(240, 241, 242, .86);    input 배경색 사용
rgba(245, 246, 247, .86);
rgba(250, 251, 252, .86);    mask


선:
border: 1px solid rgba(120, 121, 122, .86);   button:hover, input:focus, hr
border: 1px solid rgb(220, 221, 222);    비활성, section-bar(중요도 낮은 것), button
border: 1px solid rgb(230, 231, 232);    modal, layer, 말풍선 외곽선
border: 1px solid rgb(235, 236, 237);    media list의 영역 구분, button(중요도 낮은 것)
border: 1px solid rgb(240, 241, 242);    header, nav, bar, pager 내부의 대부분 박스, paper 외곽선
border: 1px solid rgb(245, 246, 247);    


선 모서리(border-radius):
border-radius: 3px;    컨텐츠 내부 레이어 (대부분 이 값으로 설정)
border-radius: 5px;    paper
border-radius: 7px;    컨텐츠 외부 레이어
border-radius: 100%;


삼각형(말풍선)
7px 


그림자
text-shadow: 1px 1px 0px rgba(0, 0, 0, .03);
box-shadow: 1px 1px 0px rgba(0, 0, 0, .03);    일반, 말풍선(중요도 높은것), 배너box(오픈그래프, 관련글)
box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .05);     레이어, 말풍선(중요도 높은것)


글자색:
color: rgb(44, 45, 46);    대제목, 기본색
color: rgb(76, 77, 78);    부제목, input
color: rgb(120, 121, 122);    구분제목, 일반적인글, 낮은중요도
color: rgb(140, 141, 142);    비활성, 설명글(출처, 인용, 안내, 저자)
color: rgb(160, 161, 162);
color: rgba(0, 0, 0, .3);    비어있는 입력상자


기타:
rgb(127, 144, 156);    blockquote


-
em, rem
디자인에 쓰인 rem과 em 단위는 폰트 크기를 기준으로 브라우저에 의해 픽셀값으로 변환됩니다.
em 단위는 지정된 요소의 폰트 크기를 기준으로 합니다.
rem 단위는 html 요소의 폰트 크기를 기준으로 합니다.
em 단위는 모든 상위 부모 요소로부터의 폰트 크기를 상속받으면서 영향을 받을 수 있습니다.
rem 단위는 브라우저에 설정된 폰트 크기를 상속받는 특성이 있습니다.

em 단위는 최상위 요소에 지정된 폰트 크기 말고, 다른 특정 요소의 폰트 크기에 따라 그 크기가 변해야 하는 곳에 사용하십시오.
rem 단위는 em 단위를 쓸 필요가 없고, 또 브라우저의 폰트 크기 설정에 따라 그 크기가 변해야 하는 곳에 사용하십시오.
폰트 크기 지정을 비롯해서 꼭 em 단위를 써야 하는 곳이 아니라면 rem 단위를 사용하십시오.
media queries에도 rem 단위를 쓰세요.
다중 칼럼 레이아웃의 너비에는 em 혹은 rem을 쓰진 마십시오 - 대신 %를 쓰세요.
만약에 크기가 변할 경우 해당 요소의 레이아웃이 깨지는 걸 막을 수 없다면 em과 rem 모두 쓰지 마세요.

-
@media 
반응형의 or 조건은 ,(콤마)를 사용한다.

http://naradesign.net/wp/2012/05/30/1823/
@media: 미디어 쿼리가 시작됨을 선언한다. @media, only, all, and, (조건문) 사이에 포함되어 있는 공백은 필수적이다.
only: only 키워드는 미디어 쿼리를 지원하는 사용자 에이전트만 미디어 쿼리 구문을 해석하라는 명령이며 생략 가능하다. 생략했을 때 기본 값은 only로 처리 된다. 생략해도 무방하므로 이 키워드는 일반적으로 작성하지 않는다. 이 자리에는 not 키워드를 사용할 수 있는데 뒤에 오는 모든 조건을 부정하는 연산을 한다.
all: all 키워드는 미디어 쿼리를 해석해야 할 대상 미디어를 선언한 것이다. all 이면 모든 미디어가 이 구문을 해석해야 한다. all 키워드 대신 screen 또는 print와 같은 특정 미디어를 구체적으로 언급할 수도 있다. all 키워드는 생략 가능하고 생략했을 때 기본 값은 all 으로 처리된다. 이 밖에도 다양한 미디어 타입(all, aural, braille, embossed, handheld, print, projection, screen, speech, tty, tv)이 있다. all, screen, print를 가장 널리 쓴다.
and: and 키워드는 논리적으로 ‘AND’ 연산을 수행하여 앞과 뒤의 조건을 모두 만족해야 한다는 것을 의미한다. 조건이 유일하거나 또는 only, all과 같은 선행 키워드가 생략되면 and 키워드는 사용하지 말아야 한다. and 대신 콤마 ‘,’ 기호를 사용하면 ‘OR’ 연산을 수행한다. ‘OR’ 연산은 나열된 조건 중에서 하나만 참이어도 {실행문}을 해석한다. OR 조건을 위한 콤마 ‘,’ 기호 사용시 유의점.
(조건문): 브라우저는 조건문이 참일때{실행문}을 처리하고 거짓일 때 무시한다. 조건문은 두 가지 이상 등장할 수 있다. 둘 이상의 조건문은 ‘and’ 키워드 또는 콤마 ‘,’ 기호로 연결해야 한다.
{실행문}: 일반적인 CSS 코드를 이 괄호 안에 작성한다. 브라우저는 (조건문)이 참일때 실행문 안쪽에 있는 CSS 코드를 해석한다. 

<link media="all and 조건" href="">

모바일, 테블릿 화면회전을 대비해 width, height 값을 같이 조건에 넣어야 한다.

-
animation (https://developers.google.com/web/fundamentals/design-and-ui/animations/the-basics-of-easing?hl=ko)

선형(linear): 
시간 경과에 따라 값이 균일하게 증가합니다. 선형 모션을 사용할 경우 로봇처럼 부자연스러운 느낌을 주므로 사용자가 불편함을 느낄 수 있습니다. 일반적으로 선형 모션을 피해야 합니다.

Ease-out: 
Easing out은 선형보다 더 빠르게 애니메이션을 시작하며 마지막에 감속합니다.

Ease-in: 
Ease-in 애니메이션은 ease-out과 반대로 느리게 시작했다가 빠르게 끝납니다.

Ease-in-out: 
Easing in과 easing out은 차량의 가속 및 감속과 유사하며, 적절히 조합하여 사용하면 easing out만 사용하는 것보다 더욱 드라마틱한 효과를 제공할 수 있습니다.
ease-in은 애니메이션을 더디게 시작하기 때문에 애니메이션 기간을 지나치게 오래 설정하지 않도록 주의해야 합니다. 일반적으로 300 - 500ms의 범위가 적당하지만 정확한 수치는 프로젝트의 느낌에 따라 상당히 좌우됩니다. 그러나 느린 시작, 빠른 중간, 느린 종료로 인해 애니메이션의 대비가 뚜렷하여 사용자에게 만족감을 줄 수 있습니다.


animation-delay
엘리먼트가 로드되고 나서 언제 애니메이션이 시작될지 지정합니다.

animation-direction
애니메이션이 종료되고 다시 처음부터 시작할지 역방향으로 진행할지 지정합니다.

animation-duration
한 싸이클의 애니메이션이 얼마에 걸쳐 일어날지 지정합니다.

animation-iteration-count
애니메이션이 몇 번 반복될지 지정합니다. infinite로 지정하여 무한히 반복할 수 있습니다.

animation-name
이 애니메이션의 중간 상태를 지정합니다. 중간 상태는  @keyframes 규칙을 이용하여 기술합니다.

animation-play-state
애니메이션을 멈추거나 다시 시작할 수 있습니다.

animation-timing-function
중간 상태들의 전환을 어떤 시간간격으로 진행할지 지정합니다.

animation-fill-mode
애니메이션이 시작되기 전이나 끝나고 난 후 어떤 값이 적용될지 지정합니다.


-
z-index 최대값 (https://www.techjunkie.com/maximum-z-index-value/)
2147483647
*/

body {
	min-width: 300px;
}

#wrap {
	position: relative;
	/*height: 100vh;
	backface-visibility: hidden;
	transition: transform 1s ease;
	transform: scale(.7);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .05);
	overflow-y: hidden;*/
}
body.header-none #wrap {
	margin-top: 30px;
}

ul.list-style-disc li { /* 점 */
	list-style: disc inside none;
}
ul.list-style-circle li { /* 원 */
	list-style: circle inside none;
}
.browsehappy { /* 브라우저 지원여부 안내 문구 */
	position: absolute;
	top: 5px;
	left: 5px;
	color: rgb(0, 0, 0);
	z-index: 10;
}
body[class*="background-"] .browsehappy {
	color: rgb(255, 255, 255);
}

/* 에디터 */
/*body *:not([contenteditable]) figure figcaption:empty {
	display: none;
}*/
[contenteditable] figure figcaption:empty::before {
	color: rgba(0, 0, 0, .3);
	content: "Type caption for image (optional)";
	cursor: text;
}


/* 컨텐츠 공통 */
.headline, .headline a {
	color: rgb(44, 45, 46);
	overflow: hidden;

	word-break: break-all;
}
.subtitle, .subtitle a {
	color: rgb(120, 121, 122);
	overflow: hidden;

	word-break: break-all;
}
.summary, .summary a {
	color: rgb(120, 121, 122);
	overflow: hidden;

	line-height: 20px;
	word-break: break-all;
}
.category, .category a {
	color: rgb(231, 68, 78);
	overflow: hidden;

	word-break: break-all;
}
.tag, .tag a {
	color: rgb(231, 68, 78);
	overflow: hidden;

	word-break: break-all;
}
.author, .author a {
	color: rgb(140, 141, 142);
	overflow: hidden;

	word-break: break-all;
}
.date, .date a {
	color: rgb(140, 141, 142);
	overflow: hidden;

	word-break: break-all;
}
.word, .word a {
	color: rgb(120, 121, 122);
	overflow: hidden;

	line-height: 21px;
	word-break: break-all;
}
.word:first-letter {
	float: left;  
	padding: 10px 10px 10px 0;
	color: rgb(44, 45, 46);
}
.profile { /* 사용자 사진 (.picture 로 하지 않은 이유: 'picture' 에디터 등 다른곳에서 자주 사용될 가능성이 높음) */
	width: 36px; 
	height: 36px; 
	background-color: rgb(240, 241, 242);
	background-repeat: no-repeat; 
	background-size: cover;
	border-radius: 3px;
}


/* paper */
.paper-out-top {
	position: relative; 
	margin: 0 auto; 
}
.paper-out-top ul li {
	float: left;
}
.paper-out-top ul .on {
	color: rgb(120, 121, 122);
	/*font-weight: bold;*/
	text-decoration: underline;
}
.paper-out-top ul .off {
	color: rgb(160, 161, 162);
}

.paper {
	position: relative; 
	margin: 0 auto; 
	min-height: 68px;
	/*background-color: rgb(255, 255, 255);*/
	background-color: rgba(255, 255, 255, .96);
	
	/*transition-property: top, right, bottom, left, width, height;
	transition-duration: .5s;*/
}
.paper .domain-top-left { 
	position: absolute; 
	border-right: 1px solid rgb(235, 236, 237); 
	border-bottom: 1px solid rgb(235, 236, 237);
	border-radius: 0 0 3px 0;
}
.paper .domain-top-right {
	position: absolute; 
	border-left: 1px solid rgb(235, 236, 237); 
	border-bottom: 1px solid rgb(235, 236, 237);
	border-radius: 0 0 0 3px;
}
.paper .domain-bottom-left {
	position: absolute; 
	border-right: 1px solid rgb(235, 236, 237); 
	border-top: 1px solid rgb(235, 236, 237);
	border-radius: 0 3px 0 0;
}
.paper .domain-bottom-right {
	position: absolute; 
	border-left: 1px solid rgb(235, 236, 237); 
	border-top: 1px solid rgb(235, 236, 237);
	border-radius: 3px 0 0 0;
}
.paper .area-padding {

}
.paper .area > .header {
	
}
.paper .area > .footer {
	
}
.paper .clause-common { /* 항목(헤더, 본문, 하단) 공통 스타일 */
	margin: 0 auto;
}
.paper .header .subject {
	margin: 0 auto;
}
.paper .header .subject .bar {
	height: 3px;
	background-color: rgb(220, 221, 222);
	border-radius: 1px;
}
.paper .header .subject .headline {
	
}
.paper .header .subject .subtitle {
	
}
.paper .article {
	margin: 0 auto;
}
.paper .footer .portion {
	margin: 0 auto;
}


/* flex */
.flexbox {
	display: flex;

	justify-content: flex-start; /* align items in Main Axis */
	align-items: stretch; /* align items in Cross Axis */
	align-content: stretch; /* Extra space in Cross Axis */
}
.flexbox-column {
	display: flex;
	flex-direction: column; /* 가로 기준(블록) */
	/*flex-wrap: wrap;*/

	justify-content: flex-start; /* align items in Main Axis */
	align-items: stretch; /* align items in Cross Axis */
	align-content: stretch; /* Extra space in Cross Axis */
}
.flexbox-row { /* grid-common */
	display: flex;
	flex-direction: row; /* 세로 기준(인라인) */
	/*flex-wrap: wrap;*/
	
	justify-content: flex-start; /* align items in Main Axis */
	align-items: stretch; /* align items in Cross Axis */
	align-content: stretch; /* Extra space in Cross Axis */
}
.flexbox-grow {
	flex: 1; /* same as flex: 1 1 auto; */
}


/* block */
.grid-common {
	/*margin: 0px auto;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 

	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.grid-common:active { 
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.grid-common:after {
	content: " ";
	display: block; 
	clear: both;
}
.slide-common { 
	overflow: hidden;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.block-wrap {
	position: relative;
	overflow: hidden;
}
.block-common {
	overflow: hidden;

	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;*/
}

.block-float {
	float: left;
	margin: 5px;
}
.block-absolute {
	position: absolute;
}
.block-relative {
	position: relative;
}

.block-width-1 {
	width: 90px;
}
.block-width-2 {
	width: 190px;
}
.block-width-3 {
	width: 290px;
}
.block-width-4 {
	width: 390px;
}
.block-width-5 {
	width: 490px;
}
.block-width-6 {
	width: 590px;
}
.block-width-7 {
	width: 690px;
}
.block-height-1 {
	height: 90px;
}
.block-height-2 {
	height: 190px;
}
.block-height-3 {
	height: 290px;
}
.block-height-4 {
	height: 390px;
}
.block-height-5 {
	height: 490px;
}
.block-height-6 {
	height: 590px;
}
.block-height-7 {
	height: 690px;
}

.block-row-1 {
	top: 5px;
}
.block-row-2 {
	top: 105px;
}
.block-row-3 {
	top: 205px;
}
.block-row-4 {
	top: 305px;
}
.block-row-5 {
	top: 405px;
}
.block-row-6 {
	top: 505px;
}
.block-row-7 {
	top: 605px;
}
.block-row-8 {
	top: 705px;
}
.block-row-9 {
	top: 805px;
}
.block-row-10 {
	top: 905px;
}
.block-row-11 {
	top: 1005px;
}
.block-row-12 {
	top: 1105px;
}
.block-row-13 {
	top: 1205px;
}
.block-row-14 {
	top: 1305px;
}
.block-row-15 {
	top: 1405px;
}
.block-row-16 {
	top: 1505px;
}
.block-row-17 {
	top: 1605px;
}

.block-col-1 {
	left: 5px;
}
.block-col-2 {
	left: 105px;
}
.block-col-3 {
	left: 205px;
}
.block-col-4 {
	left: 305px;
}
.block-col-5 {
	left: 405px;
}
.block-col-6 {
	left: 505px;
}
.block-col-7 {
	left: 605px;
}
.block-col-8 {
	left: 705px;
}
.block-col-9 {
	left: 805px;
}
.block-col-10 {
	left: 905px;
}
.block-col-11 {
	left: 1005px;
}
.block-col-12 {
	left: 1105px;
}


/* border */
.dashed-top {
	border-top: 1px dashed rgb(240, 241, 242);
}
.dashed-bottom {
	border-bottom: 1px dashed rgb(240, 241, 242);
}


/* 구획 바 */
.section-bar { 
	width: 20px;
	height: 2px; 
	background-color: rgb(231, 68, 78);
}
.section-grid {
	margin: -5px;
}
.section-grid:after {
	content: " "; 
	display: block; 
	clear: both;
}
.section-grid .section-block {
	float: left; 
	padding: 5px; 
	width: 50%; 
	overflow: hidden;
	box-sizing: border-box;
}


/* nav(메뉴), category 등 */
.nav-section {
	padding: 10px 0;
}
.nav-section ul.big-class {
	font-size: 16px;
}
.nav-section ul.sub-class {
	font-size: 14px;
}
.nav-section ul.sub-class li.choice { /* 선택된 서브메뉴 */
	
}


/* plot (컨텐츠 내부 box/배너 형태 디자인) */
.plot-style {
	background: rgb(255, 255, 255); 
	border: 1px solid rgb(240, 241, 242); 
	border-radius: 3px; 
	/*box-shadow: 1px 1px 0px rgba(0, 0, 0, .03);*/
	box-sizing: border-box;
}
.plot-margin {

}
.plot-padding {

}


/* layer */
.layer-responsive { /* 레이어 반응형 가로 크기 */
	min-width: 300px;
}
.layer-wrap {
	margin: 30px 0; 
	padding: 30px; 
	width: 300px;
	min-width: 300px; 
	border: 1px solid rgb(230, 231, 232); 
	background-color: rgb(255, 255, 255); 
	border-radius: 3px; 
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .05); 
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.layer-wrap .layer-title { /* 레이어 제목 */
	font-size: 20px;
}
.layer-wrap .layer-explanation { /* 레이어 설명(부제목) */
	margin: 10px 0; 
	color: rgb(140, 141, 142);
}
.layer-wrap .layer-content { /* 레이어 내용 */
	margin: 30px 0;
}


/* bubble (말풍선) */
.layer-bubble { 
	background-color: rgba(255, 255, 255, .96); 
	border: 1px solid rgb(230, 231, 232); 
	border-radius: 3px;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .05);
	/*overflow: hidden;*/
	/*overflow-y: auto;*/
	/*overflow: -moz-scrollbars-none;*/	

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.layer-bubble.show { /* none, block 클래스와 차이점: 추후 애니메이션 형태로 만드는 것 */
	display: block;
}
.layer-bubble.hide {
	display: none;
}

.layer-bubble-style-1 { /* 본문 말풍선 레이어 */
	margin: 7px 0;
	width: 90px;
}
.layer-bubble-style-1 ul {
	margin: 6px 0;
}
.layer-bubble-style-1 ul li { 
	padding: 6px 12px;
}
.layer-bubble-style-1 ul li.separator {
	margin: 5px 0;
	padding: 0;
	border-top: 1px solid rgb(240, 241, 242);
}
.layer-bubble-style-2 { /* header 말풍선 레이어 */
	margin: 12px 0;
	width: 190px; 
}
.layer-bubble-style-2 ul {
	margin: 10px 0;
}
.layer-bubble-style-2 ul li { 
	padding: 10px 20px;
}
.layer-bubble-style-2 ul li.separator {
	margin: 10px 0;
	padding: 0;
	border-top: 1px solid rgb(240, 241, 242);
}

/* 말풍선 삼각형 */
.layer-triangle, .layer-bubble-triangle { 
	position: relative;
}
.layer-triangle-top, .layer-bubble-triangle-top {
	position: absolute;
	top: -14px;
	border-width: 7px;
	border-color: transparent transparent rgb(230, 231, 232) transparent;
	border-style: solid;
	width: 0;
	height: 0;
}
.layer-triangle-bottom, .layer-bubble-triangle-bottom {
	position: absolute;
	bottom: -14px;
	border-width: 7px;
	border-color: rgb(230, 231, 232) transparent transparent transparent;
	border-style: solid;
	width: 0;
	height: 0;
}

/* toggle (input type="radio") */
.label-toggle-wrap {
	display: inline-block; 
	padding: 0 4px; 
	background-color: rgba(245, 246, 247, .96);

	border-radius: 3px;
}
.label-toggle-wrap input[type="radio"].label-toggle { /* toggle */
	display: none;
}
.label-toggle-wrap input[type="radio"].label-toggle + label {
	display: inline-block; 
	margin: 4px 0px; 
	padding: 5px 10px;
	/*color: rgb(76, 77, 78);*/
	color: rgb(120, 121, 122);
	background-color: transparent;
	cursor: pointer;

	border-radius: 3px;
}
.label-toggle-wrap input[type="radio"].label-toggle:checked + label {
	color: rgb(255, 255, 255); 
	background-color: rgba(231, 68, 78, .86);
}
.label-toggle-wrap input[type="radio"].label-toggle:checked:disabled + label {
	color: rgb(255, 255, 255); 
	background-color: rgb(120, 121, 122);
}


/* file */
input[type="file"].label-file { 
	display: none;
}
input[type="file"].label-file + label {
	display: inline-block;
	padding: 5px 10px;
	color: rgb(76, 77, 78);
	background-color: transparent;
	border: 1px solid rgb(235, 236, 237);
	cursor: pointer;

	border-radius: 3px;
	box-shadow: 1px 1px 0px rgba(0, 0, 0, .03);
}
input[type="file"].label-file + label:hover {
	color: rgb(44, 45, 46);
	border: 1px solid rgba(120, 121, 122, .86);
}


/* checkbox, radio */
input[type="checkbox"].label-checkbox, input[type="radio"].label-radio { 
	display: none;
}
input[type="checkbox"].label-checkbox + label, input[type="radio"].label-radio + label {
	display: inline-block;
	padding: 5px 10px;
	color: rgb(76, 77, 78);
	background-color: transparent;
	border: 1px solid rgb(235, 236, 237);
	cursor: pointer;

	border-radius: 3px;
}
input[type="checkbox"].label-checkbox:checked + label, input[type="radio"].label-radio:checked + label {
	color: rgb(231, 68, 78); 
	background-color: transparent;
	border: 1px solid rgba(231, 68, 78, .86);
}
input[type="checkbox"].label-checkbox:disabled + label, input[type="radio"].label-radio:disabled + label {
	color: rgb(140, 141, 142); 
	background-color: transparent;
	border: 1px solid rgb(235, 236, 237);
}
input[type="checkbox"].label-checkbox:checked:disabled + label, input[type="radio"].label-radio:checked:disabled + label {
	background-color: rgba(245, 246, 247, .96);
}
/* http://www.hongkiat.com/blog/css3-checkbox-radio/ */
input[type="checkbox"].input-checkbox, input[type="radio"].input-radio { 
	display: none;
}
input[type="checkbox"].input-checkbox + label, input[type="radio"].input-radio + label {
	display: inline-block;  
	position: relative;  
	padding: 5px 10px 5px 25px;
	margin-right: 15px;
	color: rgb(44, 45, 46);
	cursor: pointer;
}
input[type="checkbox"].input-checkbox + label:before, input[type="radio"].input-radio + label:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 1px;

	margin-right: 10px;
	width: 20px;
	height: 20px;

	background-color: rgba(245, 246, 247, .96);
	/*border: 1px solid rgb(253, 254, 255);
	box-shadow: 0px 0px 0px 1px rgba(245, 246, 247, .96);*/
}
input[type="checkbox"].input-checkbox + label:before {
	border-radius: 3px; 
}
input[type="radio"].input-radio + label:before {
	border-radius: 100%;
}
input[type="checkbox"].input-checkbox:checked + label:before, input[type="radio"].input-radio:checked + label:before {
	/*font-size: 30px;*/
	color: rgba(231, 68, 78, .86);
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .03);
}
input[type="checkbox"].input-checkbox:checked:disabled + label:before, input[type="radio"].input-radio:checked:disabled + label:before {
	color: rgb(120, 121, 122);
}
input[type="checkbox"].input-checkbox:checked + label:before {
	content: "\2713";  /* 체크모양 http://pat.im/987 */
}
input[type="radio"].input-radio:checked + label:before {
	content: "\25CF";  /* 체크모양 http://pat.im/987 */
}


/* select, text, textarea */
select.select, input.input-text, textarea.textarea {
	padding: 5px 10px;
	color: rgb(44, 45, 46);
	background-color: transparent;
	border: 1px solid rgb(235, 236, 237);
	outline: none;

	border-radius: 3px;
	-webkit-appearance: none; /* Remove textarea inner shadow on Mobile Safari */
	-moz-appearance: none;
}
@-moz-document url-prefix() { /* 파이어폭스핵 All Version */
	input.input-text {
		padding: 6px 10px; 
	}
}
select.select:disabled, input.input-text:disabled, textarea.textarea:disabled {
	color: rgb(140, 141, 142);
	-webkit-text-fill-color: rgb(140, 141, 142); /* Override iOS / Android font color change */
	-webkit-opacity: 1; /* Override iOS opacity change affecting text & background color */
	background-color: rgba(245, 246, 247, .96);
}
select.select:-moz-read-only, input.input-text:-moz-read-only, textarea.textarea:-moz-read-only,
select.select:read-only, input.input-text:read-only, textarea.textarea:read-only {
	color: rgb(140, 141, 142);
	-webkit-text-fill-color: rgb(140, 141, 142);
	background-color: rgba(245, 246, 247, .96);
}
select.select:focus, input.input-text:focus, textarea.textarea:focus {
	border: 1px solid rgba(120, 121, 122, .86);
}


/* button */
button.button-thin, button.button-normal, button.button-strong, button.button-active, button[data-toggle] {
	padding: 5px 10px;
	cursor: pointer;

	border-radius: 3px;
}
button.button-thin, button.button-normal, button.button-strong, button.button-active {
	box-shadow: 1px 1px 0px rgba(0, 0, 0, .03);
}
button.button-thin,
button[data-toggle], 
button[data-toggle="off"] { /* 연한색 버튼 */
	color: rgb(76, 77, 78); 
	background-color: transparent;
	border: 1px solid rgb(235, 236, 237);
}
button.button-normal, 
button.button-thin:not([disabled="disabled"]):hover,
button.button-thin:not([disabled="disabled"]):active { /* 일반 버튼 */
	color: rgb(44, 45, 46);
	background-color: transparent;
	border: 1px solid rgba(120, 121, 122, .86);
}
button.button-strong,
button.button-normal:not([disabled="disabled"]):hover,
button.button-normal:not([disabled="disabled"]):active,
button[data-toggle="on"] { /* 브랜드 색 버튼 */
	color: rgb(231, 68, 78); 
	background-color: transparent;
	border: 1px solid rgba(231, 68, 78, .86);
}
button.button-active,
button.button-strong:not([disabled="disabled"]):hover,
button.button-strong:not([disabled="disabled"]):active {
	color: rgb(255, 255, 255);
	background-color: rgba(231, 68, 78, .86); 
	border: 1px solid rgba(231, 68, 78, .86);
}
button.button-thin[disabled="disabled"],
button.button-normal[disabled="disabled"],
button.button-strong[disabled="disabled"],
button.button-active[disabled="disabled"] {
	color: rgba(76, 77, 78, .86);
	background-color: transparent;
	border: 1px solid rgba(235, 236, 237, .86);
}


/* loading */
.loading {
	padding: 10px;
	text-align: center;
}
.loading .icon {
	display: inline-block;
}
.loading .icon svg {
	width: 24px;
	height: 30px;
}
.loading .icon svg path,
.loading .icon svg rect{
	/*fill: rgb(231, 68, 78);*/
	fill: rgba(44, 45, 46, .86);
}
.loading .message {
	font-size: 14px;
	color: rgba(44, 45, 46, .86);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
}
.loading .message.none {
	display: none;
}

.loading .icon .spinner {
	margin: 0 auto;
	width: 70px;
	text-align: center;
}
.loading .icon .spinner > div {
	width: 16px;
	height: 16px;
	background-color: rgba(44, 45, 46, .86);

	border-radius: 3px;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.loading .icon .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loading .icon .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 
	40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/* header */
body #header {
	border-top: 1px solid rgb(240, 241, 242);
	border-bottom: 1px solid rgb(240, 241, 242);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-moz-transition-property: background;
	-webkit-transition-property: background;
	-o-transition-property: background;
	transition-property: background;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;

	transition: top 0.2s ease-in-out;
}
body.header-fixed #header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, .96);
	z-index: 2;
}
body[class*="background-"] #header {
	border: 0;
	background-color: transparent;
}
body.header-fixed #header.show {
	top: 0px;	
}
body #header svg {
	fill: rgb(44, 45, 46);
}
body[class*="background-"] #header svg {
	fill: rgb(255, 255, 255);
}
body #header .box {
	margin: 0 auto;
}
body #header .logo .symbol {
	/*vertical-align: bottom;*/
}
body #header .logo .title {
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*color: rgb(51, 52, 53);*/
	color: rgb(44, 45, 46);
	/*color: rgb(231, 68, 78);*/
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
}
body[class*="background-"] #header .logo .title {
	color: rgb(255, 255, 255);
}
body #header .logo a, #header .logo a:link, #header .logo a:visited, #header .logo a:active, #header .logo a:hover { 
	text-decoration: none;
}
body #header .side button {
	color: rgb(44, 45, 46);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
}
body[class*="background-"] #header .side button {
	color: rgb(255, 255, 255);
}
body #header .side .partition {
	background-color: rgb(140, 141, 142);
}
@-webkit-keyframes bubble-show {
	0% { opacity: 0; }
	100% { opacity: 1; visibility: visible; }
}
@-moz-keyframes bubble-show {
	0% { opacity: 0; }
	100% { opacity: 1; visibility: visible; }
}
@keyframes bubble-show {
	0% { opacity: 0; }
	100% { opacity: 1; visibility: visible; }
}
@-webkit-keyframes bubble-hide {
	0% { opacity: 1; }
	100% { opacity: 0; visibility: hidden; }
}
@-moz-keyframes bubble-hide {
	0% { opacity: 1; }
	100% { opacity: 0; visibility: hidden; }
}
@keyframes bubble-hide {
	0% { opacity: 1; }
	100% { opacity: 0; visibility: hidden; }
}
body #header .side .sharelist {
	position: absolute; 
	right: 0; 
	top: 35px; 
	width: 140px; 
	height: 60px;
	text-align: center; 
	background-color: rgba(255, 255, 255, .96); 
	border: 1px solid rgb(240, 241, 242); 
	z-index: 3;

	opacity: 0; 
	visibility: hidden;
}
body #header .side .sharelist:after { 
	content: "";
	position: absolute;
	top: -6px;
	right: 7%;
	width: 0; 
	height: 0; 
	border: 6px solid rgb(240, 241, 242);
	border-top-width: 0;
	border-right-color: transparent;
	border-left-color: transparent;
}
body #header .side .sharelist.show {
	animation-name: bubble-show;
	animation-duration: .7s;
	animation-timing-function: ease;
	animation-fill-mode: forwards; /* forwards: 끝에서 멈춤, infinite: 반복 */
}
body #header .side .sharelist.hide {
	animation-name: bubble-hide;
	animation-duration: .7s;
	animation-timing-function: ease;
	animation-fill-mode: forwards; /* forwards: 끝에서 멈춤, infinite: 반복 */
}
body #header .side .sharelist p {
	margin: 6px 0;
}


body[class*="background-"] #header {
	background-color: transparent; 
	border: 0;
	color: rgb(253, 254, 255);
}


/* side (bar, point 등) */
body #side {
	position: fixed;
	right: 5px;
	bottom: 5px;
} 
body #side::after {
	content: " ";
	display: block; 
	clear: both;
}
body #side .cube button {
	float: left;
	padding: 5px 10px;
	width: 45px;
	height: 45px;
	overflow: hidden;
	border-bottom: 1px dashed rgb(240, 241, 242);
	background-color: rgba(255, 255, 255, .86);

	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* PC에서의 셀렉트, mobile에서의 복사/붙여넣기 툴팁 사용정지 */
	-khtml-user-select: none; 
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none; /* 텍스트 선택 불가 */

	-webkit-touch-callout: none; /* 기본 팝업창(툴팁, 도구) 차단하기 */
	-webkit-touch-select: none; /* 복사막기 */
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 링크를 터치했을때 나오는 기본 영역의 색상을 제어, 레이어 영역 터치했을 때 회색으로 변경되는 것 방지 */
	-webkit-tap-highlight-color: transparent;
}
body #side .cube button:nth-child(odd) { /*홀수*/
	border-left: 1px solid rgb(240, 241, 242);
}
body #side .cube button:nth-child(even) { /*짝수*/
	border-right: 1px solid rgb(240, 241, 242);
}
body #side .cube button:first-child { /*첫번째*/
	border-top: 1px solid rgb(240, 241, 242);
	border-radius: 3px 0 0 0;
}
body #side .cube button:nth-child(2) { /*두번째*/
	border-top: 1px solid rgb(240, 241, 242);
	border-radius: 0 3px 0 0;
}
body #side .cube button:nth-last-child(3) { /*뒤에서 세번째*/
	/*border-bottom: 0px;*/
}
body #side .cube button:nth-last-child(2) { /*뒤에서 두번째*/
	border-bottom: 1px solid rgb(240, 241, 242);
	border-radius: 0 0 0 3px;
}
body #side .cube button:last-child { /*마지막*/
	border-radius: 0 0 3px 0;
}
body #side .cube #pointer { 
	border: 0px;
	background-color: rgba(231, 68, 78, .86);
	/*background-color: rgba(255, 51, 102, .86);*/
	/*background-color: rgba(251, 59, 72, .86);*/
	/*box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .05);*/
}
body.grid #side .cube #pointer { 
	border-radius: 3px;
}
body #side .cube .badge { /* 채팅 등 뱃지 */
	display: none; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	padding: 2px 4px; 
	min-width: 8px; 
	border-radius: 100%; 
	font-size: 9px; 
	text-align: center; 
	color: #FFF; 
	background-color: rgba(231, 68, 78, .96);
}
body.grid #side .cube button:not(#pointer) /*#pointer 제외하고 모두 숨기기*/ {
	display: none;
}


/* nav */
/*body #nav {
	position: fixed;
	right: 40px;
	bottom: 100px;

	background-color: rgba(255, 255, 255, .96);
	border: 1px solid rgba(231, 68, 78, .96);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .05);
	color: rgb(44, 45, 46);
	border-radius: 5px;
	opacity: 1;

	transition-property: top, right, bottom, left, width, height;
	transition-duration: .5s;
}*/
/* 하단 역삼각형 말풍선 효과 */
/*body #nav:before { 
	content: "";
	position: absolute;
	margin-left: -6px;
	left: 86%;
	bottom: -17px;
	width: 0px;
	height: 5px;
	border-top: 6px solid rgba(231, 68, 78, .96);
	border-bottom: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}*/
body #nav {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	padding: 40px 30px;
	width: 220px; /* 반응형 right 값포함 300px을 넘지않도록 한다. */
	min-height: 50px;
	/*max-height: 590px;*/
	color: rgb(253, 254, 255);
	/*background-color: rgba(44, 45, 46, .96);*/
	/*background-color: rgba(60, 70, 80, .96);*/
	/*background-color: rgba(50, 56, 62, .96);*/
	background-color: rgba(36, 38, 40, .96);
	/*color: rgb(44, 45, 46);
	background-color: rgba(255, 255, 255, .96);
	border: 1px solid rgb(240, 241, 242);*/
	/*border-radius: 5px;*/
	/*background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgba(231, 68, 78, .86), rgba(231, 110, 68, .86)) repeat scroll 0 0;*/
	/*border: 5px solid rgba(240, 241, 242, .86);
	border-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(240, 241, 242, .86) 10px, rgba(240, 241, 242, .86) 20px) 10;*/
	/*border-radius: 5px 0 0 5px;*/
	opacity: 1;
	display: none;

	z-index: 2147483647;

	/*box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .05);*/

	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	transition-property: width, height;
	transition-duration: .3s;
}
body #nav a, #nav button { 
	color: rgb(253, 254, 255);
}
/*body #nav .triangle {
	position: absolute;
	bottom: -14px;
	border-width: 7px;
	border-color: rgba(50, 56, 62, .96) transparent transparent transparent;
	border-style: solid;
	width: 0;
	height: 0;
}*/
@keyframes nav-on {
	0% {
		opacity: 0;
		transform: scale(0.05);
		transform: translate(8%, 0%);
		/*transform-origin: 100% 100%;*/
	}
	45% {
		opacity: 0.6;
		transform: scale(1.05);
		transform: translate(-1.05%, 0%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
}
@keyframes nav-off {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	55% {
		opacity: 0.6;
		transform: scale(1.05);
		transform: translate(-1.05%, 0%);
	}
	100% {
		opacity: 0;
		visibility: hidden;
		transform: scale(0.05);
		transform: translate(8%, 0%);
		/*transform-origin: 100% 100%;*/
	}
}
body #nav.on {
	animation-name: nav-on;
	animation-duration: .32s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
body #nav.off {
	animation-name: nav-off;
	animation-duration: .32s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;	
}
/*@keyframes nav-on {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(0%, 0);
	}
}
@keyframes nav-off {
	0% {
		transform: translate(0%, 0);
	}
	100% {
		transform: translate(100%, 0);
	}
}
body #nav.on {
	animation-name: nav-on;
	animation-duration: .22s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards; 
}
body #nav.off {
	animation-name: nav-off;
	animation-duration: .22s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards; 
}*/


/* chat */
body #chat {
	overflow: hidden;
	clear: both;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body #chat .fixed_top {
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: 100;
}
body #chat .fixed_top .clients {
	margin-left: 10px;
	font-size: 10px;
}
body #chat .fixed_top .clients .number {
	margin-left: 4px;
	color: rgba(120, 121, 122, .86);
}
body #chat .scroll {
	width: 100%;
	height: 100%;
	overflow: auto;
}
body #chat .scroll .message_list {
	margin-top: 20px;
	margin-bottom: 60px;
	/*color: #323332;*/
}
body #chat .scroll .message_list .others, .message_list .own, .message_list .whisper {
	display: flex;
	align-items: flex-start;
}
body #chat .scroll .message_list .notice {
	position: relative;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 10px;
}
body #chat .scroll .message_list .notice::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	margin-top: -1px;
	background: rgb(240, 241, 242);
	z-index: 0;
}
body #chat .scroll .message_list .notice strong {
	display: inline-block;
	position: relative;
	padding: 0 5px;
	font-weight: normal;
	z-index: 1;
}
body #chat .scroll .message_list .profile_image {
	flex: none;
	margin: 10px 5px; 
	width: 30px; 
	height: 30px;
}
body #chat .scroll .message_list .own {
	flex-direction: column;
	align-items: flex-end;
}
body #chat .scroll .message_list .own .pack .message {
	max-width: 85%;
	background-color: rgba(44, 45, 46, .96);
	color: #FFF;
}
body #chat .scroll .message_list .others .pack .message {
	max-width: 75%;
	background-color: rgba(240, 241, 242, .86);
}
body #chat .scroll .message_list .whisper .pack .message {
	max-width: 75%;
	/*background-color: #FDCE6A;
	background-color: #FD865A;*/
	background-color: rgba(235, 236, 237, .86);
}
body #chat .scroll .message_list .pack .user {
	margin: 5px; 
	font-size: 11px;
}
body #chat .scroll .message_list .pack .image {
	margin: 5px; 
	max-width: 100%;
}
body #chat .scroll .message_list .pack .emoticon {
	/*display: inline-block;*/
	margin: 5px; 
	max-width: 100px;
	max-height: 100px;
}
body #chat .scroll .message_list .pack .emoticon svg {
	min-width: 80px;
	max-width: 100%;
}
body #chat .scroll .message_list .pack .message:not(:empty) {
	margin: 5px; 
	padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.12);
}
body #chat .fixed_bottom {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
}
body #chat .fixed_bottom .morpheme {
	display: none;
}
body #chat .fixed_bottom .emoticon_list {
	margin: 10px;
	padding: 10px;
	background-color: rgba(245, 246, 247, .86);
	border-radius: 3px;
}
body #chat .fixed_bottom .emoticon_list label {
	display: inline-block;
	margin: 0px 5px;

	/* PC에서의 셀렉트, mobile에서의 복사/붙여넣기 툴팁 사용정지 */
	-khtml-user-select: none; 
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none; /* 텍스트 선택 불가 */

	-webkit-touch-callout: none; /* 기본 팝업창(툴팁, 도구) 차단하기 */
	-webkit-touch-select: none; /* 복사막기 */
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 링크를 터치했을때 나오는 기본 영역의 색상을 제어, 레이어 영역 터치했을 때 회색으로 변경되는 것 방지 */
	-webkit-tap-highlight-color: transparent;
}
body #chat .fixed_bottom .emoticon_list label, .emoticon_list svg {
	width: 50px;
	height: 50px;
}
body #chat .fixed_bottom .emoticon_list input[type="radio"] + label {
	border: 1px solid transparent;
}
body #chat .fixed_bottom .emoticon_list input[type="radio"]:checked + label {
	border-color: rgba(120, 121, 122, .86);
}
body #chat .fixed_bottom .emoticon_list {
	display: none;
}
body #chat .fixed_bottom .form > * {
	display: inline-block;
}
body #chat .fixed_bottom .form .attach_image_btn {
	padding: 5px;
	background-color: rgba(255, 255, 255, .86);
	border: 1px solid rgba(120, 121, 122, .86);
	border-radius: 3px;
}
body #chat .fixed_bottom .form .input_wrap {
	margin: 0px 5px;
	position: relative;
	width: 60%;
}
body #chat .fixed_bottom .form .input_wrap .chat_input {
	padding: 5px;
	width: 90%;
	background-color: rgba(255, 255, 255, .86);
	border: 1px solid rgba(120, 121, 122, .86);
	border-radius: 3px;

	outline: none;
	-webkit-appearance: none; /* Remove textarea inner shadow on Mobile Safari */
	-moz-appearance: none;
}
body #chat .fixed_bottom .form .input_wrap .chat_emoticon_btn {
	position: absolute; 
	right: 10px; 
	top: 4px;
}
body #chat .fixed_bottom .form .chat_input:focus {
	background-color: rgba(255, 255, 255, .96);
	border: 1px solid rgba(231, 68, 78, .86);
}
body #chat .fixed_bottom .form .chat_send_btn {
	padding: 5px;
	background-color: rgba(255, 255, 255, .86);
	border: 1px solid rgba(120, 121, 122, .86);
	border-radius: 3px;
}
body #chat .close {
	position: fixed; 
	top: 20px; 
	right: 20px;
	display: none;
}
body #chat .close button {
	padding: 2px 4px;
}

/* footer */
body.media #footer {

}
body.grid #footer {
	
}
body #footer {
	/*border-top: 1px solid rgb(240, 241, 242);*/
}
body #footer p {
	text-align: center; 
	line-height: 1.6;
}
body #footer p a {
	font-size: 12px; 
	color: rgb(140, 141, 142);
}
body #footer .copyright {
	font-size: 12px; 
	color: rgb(120, 121, 122);
}

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- */

@media (max-width: 767px) {
	body {
		min-width: 300px;
	}

	/* 구획 바 */
	.section-bar { 
		width: 10px;
	}
	.section-grid .section-block { 
		width: 100%; 
	}

	/* nav(메뉴), category 등 */
	.nav-section ul.big-class {
		line-height: 240%; 
	}
	.nav-section ul.sub-class {
		line-height: 260%; 
	}

	/* layer */
	.layer-responsive {
		width: 300px;
	}

	/* 컨텐츠 공통 */
	.headline, .headline a {
		font-size: 18px;
	}
	.subtitle, .subtitle a {
		font-size: 15px;
	}
	.summary, .summary a {
		font-size: 14px;
	}
	.category, .category a {
		font-size: 13px;
	}
	.tag, .tag a {
		font-size: 13px;
	}
	.author, .author a {
		font-size: 13px;
	}
	.date, .date a {
		font-size: 12px;
	}
	.word, .word a {
		font-size: 14px;
	}
	.word:first-letter {
		font-size: 18px;
	}
	
	/* paper */
	.paper {
		padding: 20px;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .03);
	}
	.paper .domain-top-left { 
		display: none;
	}
	.paper .domain-top-right {
		display: none;
	}
	.paper .domain-bottom-left {
		display: none;
	}
	.paper .domain-bottom-right {
		display: none;
	}
	.paper .area-padding {

	}
	.paper .area > .header {
		
	}
	.paper .area > .footer {
		
	}
	.paper .clause-common { /* 항목(헤더, 본문, 하단) 공통 스타일 */
		
	}
	.paper .header .subject {
		padding-top: 34px; 
		padding-bottom: 44px; 
	}
	.paper .header .subject .bar {
		width: 15px;
	}
	.paper .header .subject .headline {
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.paper .header .subject .subtitle {
		
	}
	.paper .footer .portion { /* 내용 주제 구분 */
		padding: 20px 0;
	}
	.paper .footer .portion.dashed-top:first-of-type {
		margin-top: 20px;
	}
	.paper .footer .portion.dashed-bottom:first-of-type {
		margin-bottom: 20px;
	}

	.paper-out-top {
		padding: 20px;
	}
	.paper-out-top ul li {
		margin-right: 16px;
		font-size: 16px;
	}

	/* header */
	body #header {
		height: 50px; 
	}
	body.header-fixed #header {
		/*background-color: rgba(255, 255, 255, .86);*/
	}
	body.header-fixed #header.hide {
		top: -50px; /* header 계속 고정에 따른 #header 높이값에 따른 값 */
	}
	body #header .box {
		padding: 0 20px;
	}
	body #header .logo {
		margin-top: 13px;
	}
	body #header .logo .symbol {
		width: 24px;
		height: 24px;
	}
	body #header .logo .title {
		display: none;
	}
	body #header .side {
		margin-top: 14px;
	}
	body #header .side button {
		margin-left: 20px;
	}
	body #header .side button span {
		display: none;
	}
	body #header .side .partition {
		margin-left: 32px;
		margin-right: 16px;
		margin-top: 6px;
		width: 1px;
		height: 15px;
	}

	/* wrap */
	body.header-fixed #wrap {
		padding-top: 50px; /* header 계속 고정에 따른 #header 높이값에 따른 값 */
	}
	body.header-fixed.grid #wrap {

	}

	/* side */
	body.media #side, body.media #side.show {
		right: 25px;
	}
	body.media #side.hide {
		right: -115px;
	}
	body.media #side .cube {
		/* 한줄로 표시할 경우 width 제거 및 n번째별 border 제어 수정 */
		width: 90px;
	}
	body.grid #side {
		right: 25px;
	}

	/* nav */
	body #nav {
		/*right: 10px;*/
	}
	body #nav .section-bar {
		margin-top: 10px;
	}

	/* chat */
	body #chat {
		position: relative;
		width: 300px;
		height: 400px;
	}
	body #chat .close {
		display: block;
	}

	/* footer */
	body #footer {
		padding-bottom: 77px; 
	}
	body #footer .copyright {
		padding-top: 15px;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	body {
		min-width: 620px;
	}

	/* 구획 바 */
	.section-bar { 
		width: 15px;
	}
	.section-grid .section-block { 
		width: 50%; 
	}

	/* nav(메뉴), category 등 */
	.nav-section ul.big-class {
		line-height: 230%; 
	}
	.nav-section ul.sub-class {
		line-height: 250%; 
	}

	/* layer */
	.layer-responsive {
		width: 600px;
	}

	/* 컨텐츠 공통 */
	.headline, .headline a {
		font-size: 20px;
	}
	.subtitle, .subtitle a {
		font-size: 15px;
	}
	.summary, .summary a {
		font-size: 14px;
	}
	.category, .category a {
		font-size: 13px;
	}
	.tag, .tag a {
		font-size: 13px;
	}
	.author, .author a {
		font-size: 13px;
	}
	.date, .date a {
		font-size: 12px;
	}
	.word, .word a {
		font-size: 14px;
	}
	.word:first-letter {
		font-size: 20px;
	}

	/* paper */
	.paper {
		margin-bottom: 10px;
		padding: 44px;
		width: 600px; /* 600(블록의최대가로크기590)+44(여백)+44(여백)+1(선)+1(선)=690(실제적용크기) */

		border: 1px solid rgb(240, 241, 242);
		box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .03);
		border-radius: 3px;
	}
	.paper .domain-top-left { 
		top: 28px; 
		left: 28px; 
		width: 20px; 
		height: 20px; 
	}
	.paper .domain-top-right {
		top: 28px; 
		right: 28px; 
		width: 20px; 
		height: 20px; 
	}
	.paper .domain-bottom-left {
		bottom: 28px; 
		left: 28px; 
		width: 20px; 
		height: 20px; 
	}
	.paper .domain-bottom-right {
		bottom: 28px; 
		right: 28px; 
		width: 20px; 
		height: 20px; 
	}
	.paper .area-padding {
		padding: 5px;
	}
	.paper .area > .header {
		margin: 5px 5px 0 5px;
	}
	.paper .area > .footer {
		margin: 0 5px 5px 5px;	
	}
	.paper .clause-common { /* 항목(헤더, 본문, 하단) 공통 스타일 */
		width: 500px;
	}
	.paper .header .subject {
		padding-top: 44px; 
		padding-bottom: 54px; 
	}
	.paper .header .subject .bar {
		width: 25px;
	}
	.paper .header .subject .headline {
		padding-top: 20px;
		padding-bottom: 15px;
	}
	.paper .header .subject .subtitle {
		
	}
	.paper .footer .portion { /* 내용 주제 구분 */
		padding: 25px 0;
	}
	.paper .footer .portion.dashed-top:first-of-type {
		margin-top: 25px;
	}
	.paper .footer .portion.dashed-bottom:first-of-type {
		margin-bottom: 25px;
	}

	.paper-out-top {
		padding: 22px 44px;
		width: 600px;
	}
	.paper-out-top ul li {
		margin-right: 18px;
		font-size: 18px;
	}

	/* header */
	body #header {
		height: 55px; 
	}
	body.header-fixed #header {
		/*background-color: rgba(255, 255, 255, .86);*/
	}
	body.header-fixed #header.hide {
		top: -55px; /* header 계속 고정에 따른 #header 높이값에 따른 값 */
	}
	body #header .box { 
		padding: 0 40px;
	}
	body #header .logo {
		margin-top: 15px;
	}
	body #header .logo .symbol {
		width: 24px;
		height: 24px;
	}
	body #header .logo .title {
		display: none;
	}
	body #header .side {
		margin-top: 16px;
	}
	body #header .side button {
		margin-left: 19px;
	}
	body #header .side .partition {
		margin-left: 30px;
		margin-right: 15px;
		margin-top: 6px;
		width: 1px;
		height: 15px;
	}

	/* wrap */
	body.header-fixed #wrap {
		padding-top: 65px; /* header 계속 고정에 따른 #header 높이값에 따른 값 (여백 10px 포함) */
	}
	body.header-fixed.grid #wrap {
		padding-top: 55px;
	}

	/* side */
	body.media #side, body.media #side.show {
		right: 35px;
	}
	body.media #side.hide {
		right: -125px;
	}
	body.media #side .cube {
		/* 한줄로 표시할 경우 width 제거 및 n번째별 border 제어 수정 */
		width: 90px;
	}
	body.grid #side {
		right: 35px;
	}

	/* nav */
	body #nav {
		/*right: 15px;*/
	}
	body #nav .section-bar {
		margin-top: 15px;
	}

	/* chat */
	body.media #chat {
		/*right: 125px;*/
		right: 130px;
	}
	body.grid #chat {
		/*right: 80px;*/
		right: 85px;
	}
	body #chat {
		position: fixed;
		bottom: 5px;
		width: 300px;
		height: 400px;

		background-color: rgba(255, 255, 255, .96); 
		border: 1px solid rgb(230, 231, 232); 
		border-radius: 3px;
	}
	body #chat .close {
		display: block;
	}

	/* footer */
	body #footer {
		padding-bottom: 85px; 
	}
	body #footer .copyright {
		padding-top: 20px;
	}
}
@media (min-width: 1024px) {
	body {
		min-width: 1000px;
	}

	/* 구획 바 */
	.section-bar { 
		width: 20px;
	}
	.section-grid .section-block { 
		width: 50%; 
	}

	/* nav(메뉴), category 등 */
	.nav-section ul.big-class {
		line-height: 220%; 
	}
	.nav-section ul.sub-class {
		line-height: 240%; 
	}

	/* layer */
	.layer-responsive {
		width: 900px;
	}
	.layer-wrap.layer-responsive {
		width: 600px;	
	}

	/* 컨텐츠 공통 */
	.headline, .headline a {
		font-size: 22px;
	}
	.subtitle, .subtitle a {
		font-size: 15px;
	}
	.summary, .summary a {
		font-size: 14px;
	}
	.category, .category a {
		font-size: 13px;
	}
	.tag, .tag a {
		font-size: 13px;
	}
	.author, .author a {
		font-size: 13px;
	}
	.date, .date a {
		font-size: 12px;
	}
	.word, .word a {
		font-size: 14px;
	}
	.word:first-letter {
		font-size: 22px;
	}

	/* paper */
	.paper {
		margin-bottom: 10px; 
		padding: 44px;
		width: 900px; /* 900(블록의최대가로크기890)+44(여백)+44(여백)+1(선)+1(선)=990(실제적용크기) */

		border: 1px solid rgb(240, 241, 242);
		box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .03);
		border-radius: 3px;
	}
	.paper .domain-top-left { 
		top: 28px; 
		left: 28px; 
		width: 20px; 
		height: 20px; 
	}
	.paper .domain-top-right {
		top: 28px; 
		right: 28px; 
		width: 20px; 
		height: 20px; 
	}
	.paper .domain-bottom-left {
		bottom: 28px; 
		left: 28px; 
		width: 20px; 
		height: 20px; 
	}
	.paper .domain-bottom-right {
		bottom: 28px; 
		right: 28px; 
		width: 20px; 
		height: 20px; 
	}
	.paper .area-padding {
		padding: 5px;
	}
	.paper .area > .header {
		margin: 5px 5px 0 5px;
	}
	.paper .area > .footer {
		margin: 0 5px 5px 5px;	
	}
	.paper .clause-common { /* 항목(헤더, 본문, 하단) 공통 스타일 */
		width: 800px;
	}
	.paper .header .subject {
		padding-top: 54px; 
		padding-bottom: 64px;
	}
	.paper .header .subject .bar {
		width: 35px;
	}
	.paper .header .subject .headline {
		padding-top: 25px;
		padding-bottom: 20px;
	}
	.paper .header .subject .subtitle {
		
	}
	.paper .footer .portion { /* 내용 주제 구분 */
		padding: 30px 0;
	}
	.paper .footer .portion.dashed-top:first-of-type {
		margin-top: 30px;
	}
	.paper .footer .portion.dashed-bottom:first-of-type {
		margin-bottom: 30px;
	}

	.paper-out-top {
		padding: 22px 44px;
		width: 900px;
	}
	.paper-out-top ul li {
		margin-right: 20px;
		font-size: 20px;
	}

	/* header */
	body #header {
		height: 60px; 
	}
	body.header-fixed #header {
		/*background-color: rgba(255, 255, 255, .86);*/
	}
	body.header-fixed #header.hide {
		top: -60px; /* header 계속 고정에 따른 #header 높이값에 따른 값 */
	}
	body #header .box {
		padding: 0 60px;
	}
	body #header .logo {
		margin-top: 17px;
	}
	body #header .logo .symbol {
		width: 24px;
		height: 24px;
		vertical-align: -6px;
	}
	body #header .logo .title {
		margin-left: 15px;
		font-size: 20px;
	}
	body #header .side {
		margin-top: 18px;
	}
	body #header .side button {
		margin-left: 18px;
	}
	body #header .side .partition {
		margin-left: 28px;
		margin-right: 14px;
		margin-top: 6px;
		width: 1px;
		height: 15px;
	}

	/* wrap */
	body.header-fixed #wrap {
		padding-top: 70px; /* header 계속 고정에 따른 #header 높이값에 따른 값 (여백 10px 포함) */
	}
	body.header-fixed.grid #wrap {
		padding-top: 60px;
	}

	/* side */
	body.media #side, body.media #side.show {
		right: 45px;
	}
	body.media #side.hide {
		right: -135px;
	}
	body.media #side .cube {
		/* 한줄로 표시할 경우 width 제거 및 n번째별 border 제어 수정 */
		width: 90px;
	}
	body.grid #side {
		right: 45px;
	}
	body #side .cube #pointer {
		background-color: rgba(231, 68, 78, .96);
	}

	/* nav */
	body #nav {
		/*right: 20px;*/
	}
	body #nav .section-bar {
		margin-top: 20px;
	}

	/* chat */
	body.media #chat {
		/*right: 135px;*/
		right: 140px;
	}
	body.grid #chat {
		/*right: 90px;*/
		right: 95px;
	}
	body #chat {
		position: fixed;
		bottom: 5px;
		margin-left: -8px;
		width: 300px;
		height: 400px;

		background-color: rgba(255, 255, 255, .96); 
		border: 1px solid rgb(230, 231, 232); 
		border-radius: 3px;
	}

	/* footer */
	body #footer {
		padding-bottom: 90px; 
	}
	body #footer .copyright {
		padding-top: 24px;
	}
}

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- */

@media (max-width: 320px) {
	/* side */
	body.media #side {
		right: 0px;
		bottom: 0px;
	}
}
@media (min-width: 1080px) {
	/* paper */
	.paper {
		padding: 79px; 
	}
	.paper .domain-top-left { 
		top: 63px; 
		left: 63px; 
	}
	.paper .domain-top-right {
		top: 63px; 
		right: 63px; 
	}
	.paper .domain-bottom-left {
		bottom: 63px; 
		left: 63px; 
	}
	.paper .domain-bottom-right {
		bottom: 63px; 
		right: 63px; 
	}
}
